<div class="container flex flex-col">
  <div class="carousel">
    <app-single-project-preview *ngFor="let project of projects" [showFrame]="project.showFrame || false" [class]="project.active ? 'active': ''" [iframeSrc]="project.src"></app-single-project-preview>
  </div>
  <div class="buttons">
    <a (click)="prev()" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
      Previous
    </a>
    <a (click)="next()" class="inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
      Next
    </a>
  </div>
</div>

