
:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .slider {
    height: 800px;

    @media screen and (max-width: 875px) {
      height: 650px;
    }
    @media screen and (max-width: 425px) {
      height: 400px;
    }

  }
}

::ng-deep app-project-preview{
  position:absolute;

  &[class*="index"] .device{
    opacity: 0;
  }
  &.index-0 {
    .device{
      opacity: 1;
    }
  }
  &.index-1 
    .device{
      opacity: 0.8;
  }
  &.index-2 
    .device{
      opacity: 0.6;
  }
  &.index-3 
    .device{
      opacity: 0.4;
  }
}