section {
  box-shadow: 0 0 15px 0 #111827;
  .section-content {
    .avatar.shape-outer {
      width: calc(9rem + 4vw);
      height: calc(9rem + 4vw);
    }
  }

  &.minimized {
    .section-content {
      padding-top: .5rem;
      padding-bottom: .5rem;

      .avatar.shape-outer {
        width: calc(3rem + 4vw);
        height: calc(3rem + 4vw);
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        
      }

      .personal-info {
        h2 {
          font-size: 1.8rem;
        }

        .role {
          padding-bottom: 0;
        }

        .divider {
          display: none;
        }

        .contacts {
          display: none;
        }
      }
    }
  }
  .section-content {
    .shape-inner {	
      width: 96%;
      height: 96%;
      background: url('../../assets/images/Layer\ 5.png') no-repeat center;
      background-size: cover;
      margin: auto;
    }
    
  }
}