:host {
  display: block;
  background-image: url('/assets/images/education_background.png');
}

.education {
  .timeline {
    li:last-of-type {
      margin-bottom: 0;
    }
  }

  .blob-container {
    @media screen and (max-width: 768px){
      bottom: -25%;
      right: -15%;
      rotate: 180deg;
    }
    .blob {
      scale: 1.5;
      bottom: -40%;
      left: -35%;
      &:first-of-type {
        rotate: 15deg;
        animation-delay: 10s;
      }
      &:nth-of-type(2) {
        rotate: -90deg;
        animation-direction: reverse;
      }
      &:nth-of-type(3) {
        rotate: -40deg;
      }
    }
  }
}

.profile {
  .blob-container {
    top: 5%;
    right: -5%;
    @media screen and (max-width: 768px){
      top: 15%;
      left: -25%;
    }
  }
}



